versions/dev/index.html
<!DOCTYPE html><html><head><title>Desktop | Infográficos</title><link href="/fonts/oglobo/fonts.css" rel="stylesheet" type="text/css"><link href="/fonts/whitman/fonts.css" rel="stylesheet" type="text/css"><meta name="viewport" content="width=device-width, user-scalable=no, initial-scalable=1, minimum-scale=1, maximum-scale=1"><meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no"/><link rel="stylesheet" type="text/css" href="/css/slick.css"/><link rel="stylesheet" type="text/css" href="/css/main.css"/></head><body><div id="infoarte"><header class="topo"><h1 class="titulo">DESAFIO <span>DOS</span> PONTOS CORRIDOS</h1><h2 class="subtitulo">CONHECE BEM O DESEMPENHO DO SEU TIME NO CAMPEONATO BRASILEIRO?</h2></header><div class="telas"><section class="tela-abertura"><div class="centro"><div class="imagens-jogadores"><div class="retangulo"></div><div class="case-img"><img src="/images/jogadores/flamengo-img.png"/></div></div><p class="descricao">É a hora do tira-teima. Reunimos os resultados dos últimos dez anos da disputa (2006-2015) e calculamos o desempenho em diversas situações das 22 equipes que disputaram ao menos 150 jogos nesse período. Escolha um time, teste seu conhecimento e compare com a média dos outros internautas</p><div class="case-menu"><ul class="menu-times"><li><div style="background-image:url('images/escudos-desktop-home/flamengo.png')" class="case-img"></div></li><li><div style="background-image:url('images/escudos-desktop-home/flamengo.png')" class="case-img"></div></li><li><div style="background-image:url('images/escudos-desktop-home/flamengo.png')" class="case-img"></div></li><li><div style="background-image:url('images/escudos-desktop-home/flamengo.png')" class="case-img"></div></li><li><div style="background-image:url('images/escudos-desktop-home/flamengo.png')" class="case-img"></div></li><li><div style="background-image:url('images/escudos-desktop-home/flamengo.png')" class="case-img"></div></li><li><div style="background-image:url('images/escudos-desktop-home/flamengo.png')" class="case-img"></div></li><li><div style="background-image:url('images/escudos-desktop-home/flamengo.png')" class="case-img"></div></li><li><div style="background-image:url('images/escudos-desktop-home/flamengo.png')" class="case-img"></div></li><li><div style="background-image:url('images/escudos-desktop-home/flamengo.png')" class="case-img"></div></li><li><div style="background-image:url('images/escudos-desktop-home/flamengo.png')" class="case-img"></div></li><li><div style="background-image:url('images/escudos-desktop-home/flamengo.png')" class="case-img"></div></li><li><div style="background-image:url('images/escudos-desktop-home/flamengo.png')" class="case-img"></div></li><li><div style="background-image:url('images/escudos-desktop-home/flamengo.png')" class="case-img"></div></li><li><div style="background-image:url('images/escudos-desktop-home/flamengo.png')" class="case-img"></div></li><li><div style="background-image:url('images/escudos-desktop-home/flamengo.png')" class="case-img"></div></li><li><div style="background-image:url('images/escudos-desktop-home/flamengo.png')" class="case-img"></div></li><li><div style="background-image:url('images/escudos-desktop-home/flamengo.png')" class="case-img"></div></li><li><div style="background-image:url('images/escudos-desktop-home/flamengo.png')" class="case-img"></div></li><li><div style="background-image:url('images/escudos-desktop-home/flamengo.png')" class="case-img"></div></li></ul></div></div></section></div></div><script src="/js/libs/jquery.min.js"></script><script type="text/javascript" src="/js/slick.min.js"></script><script type="text/javascript" src="/js/_g.js"></script><script type="text/javascript" src="/js/libs/underscore-min.js"></script><script type="text/javascript">_g.amb('dev').pasta('quiz-desempenho-clubes-brasileiros');
</script><script type="text/javascript" src="/js/main.js"></script></body></html>

project/jade/index.jade
mixin header_desktop
	meta(name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no")
	+link({href: "/css/slick.css"})
	+link({href: "/css/main.css"})


mixin master_desktop
	#infoarte
		header.topo
			h1.titulo DESAFIO <span>DOS</span> PONTOS CORRIDOS
			h2.subtitulo CONHECE BEM O DESEMPENHO DO SEU TIME NO CAMPEONATO BRASILEIRO?
		.telas
			section.tela-abertura
				.centro
					.imagens-jogadores
						.retangulo
						.case-img
							+img({src:"/images/jogadores/flamengo-img.png"})
					p.descricao É a hora do tira-teima. Reunimos os resultados dos últimos dez anos da disputa (2006-2015) e calculamos o desempenho em diversas situações das 22 equipes que disputaram ao menos 150 jogos nesse período. Escolha um time, teste seu conhecimento e compare com a média dos outros internautas
					.case-menu
						ul.menu-times
							-for(var x=0;x<20;x++)
								li
									.case-img(style="background-image:url('images/escudos-desktop-home/flamengo.png')")
										//- +img({src:"/images/escudos-desktop-home/flamengo.png" style:"background-image:url('images/escudos-desktop-home/flamengo.png')"})

					
mixin footer_desktop
	+script({src:"/js/slick.min.js"})
	+script({src:"/js/_g.js"})
	+script({src:"/js/libs/underscore-min.js"})
	script(type='text/javascript').
		_g.amb('#{amb}').pasta('#{pasta}');

	+script({src:"/js/main.js"})
