versions/dev/mobi.html
<!DOCTYPE html><html><head><title>Mobile | Infográficos</title><meta name="viewport" content="width=device-width, user-scalable=no, initial-scalable=1, minimum-scalable=1, maximum-scalable=1"><link href="/fonts/oglobo/fonts.css" rel="stylesheet" type="text/css"><link href="/fonts/whitman/fonts.css" rel="stylesheet" type="text/css"><meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no"/><link rel="stylesheet" type="text/css" href="/css/main_mobi.css"/></head><body><div id="infoarte"><section class="sessao-exemplo"><div class="exemplo-div"><h5>Div de exemplo:</h5><a href="http://www.google.com" target="_blank" class="linkgoogle"><img src="/images/imagem-link-1.jpg" class="img-exemplo"/></a></div></section></div><script src="//localhost:35729/livereload.js"></script><script src="/js/libs/jquery.min.js"></script><script type="text/javascript" src="/js/_g.js"></script><script type="text/javascript" src="/libs/d3/d3.min.js"></script><script type="text/javascript" src="/libs/topojson/topojson.js"></script><script type="text/javascript" src="/libs/underscore/underscore-min.js"></script><script type="text/javascript" src="/libs/queue-async/queue.min.js"></script><script type="text/javascript">_g.amb('dev').pasta('quiz-desempenho-clubes-brasileiros');</script><script type="text/javascript" src="/js/main.js"></script><script type="text/javascript" src="/js/main_mobi.js"></script></body></html>

project/jade/mobi.jade
mixin header_mobi
	meta(name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no")
	+link({href: "/css/main_mobi.css"})


mixin master_mobi
	#infoarte
		section.sessao-exemplo
			.exemplo-div
				h5 Div de exemplo:
				a(href="http://www.google.com", target="_blank").linkgoogle
					+img({src: '/images/imagem-link-1.jpg', class: 'img-exemplo'})

		
mixin footer_mobi
	+script({src:"/js/_g.js"})
	+script({src:"/libs/d3/d3.min.js"})
	+script({src:"/libs/topojson/topojson.js"})
	+script({src:"/libs/underscore/underscore-min.js"})
	+script({src:"/libs/queue-async/queue.min.js"})
	script(type='text/javascript').
		_g.amb('#{amb}').pasta('#{pasta}');
	+script({src:"/js/main.js"})
	+script({src:"/js/main_mobi.js"})
